<body class="show">
  <video autoplay loop muted id="video-background">
    <source src="<%= @video.mp4 %>" type="video/mp4">
  </video>
  <div class="content">
    <div class="icons">
      <%= link_to videos_path, class: "back-link" do %>
        <i class="fa-sharp fa-solid fa-chevron-left back-icon"></i>
      <% end %>
      <div class="dropdown">
        <button data-action="click->navbar#myFunction" id="dropbtn" >
          <i class="fa-sharp fa-solid fa-bars bars"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div>
   <% if @user == current_user %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </button>
    <div class="container-modal">
      <div class="row">
        <div class="col-12">
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog mod">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <p>Brook</p>
                        <input type="range" id="rngVolume" min="0" max="1" step=".01" value=".5"/>
                      </div>
                      <div class="col-12 col-lg-6">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>
